html {
 background-image: url("4.jpg"); 
 background-color:rgba(7, 7, 7, 0.852);
    background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  font-family: 'Poppins', sans-serif;
  color:white;
}
.sm {    
  text-align: center;
  position:absolute;
  top: 1300px;
  right:calc(50% - 66px);
  opacity:0.8; 
}
.sm a {
  padding-left:15px;
}
.sm a:nth-child(1) {
  padding-left: 0px;
}
.pages {
  text-align: center;
  position:relative;
  left:calc(50% - 160px);
  width:350px;

}
.pages a{
  color: white;
  padding-right: 25px;
  font-size:13px;
  text-decoration:none;
  opacity:0.8;
} 
.pages a:nth-child(2){
  text-decoration: underline;
}

.content{
    color: white;
    font-family:'Poppins', sans-serif;
}
#title{
    position:relative;
    top:90px;
    left:calc(50% - 90px);
    width:200px;
    font-size: 40px;
    margin-right: 0px;
}
#text{
    position:relative;
    top:180px;
    font-size:16px;
    width: 95%;
    text-align: center;
    left:2%;
    }
.par{
  padding-bottom:10px;
}

@media all and (min-width: 330px){
.sm {    
  text-align: center;
  position:absolute;
  top: 1100px;
  right:calc(50% - 66px); 
}
@media all and (min-width: 359px){
.sm {    
  text-align: center;
  position:absolute;
  top: 1050px;
  right:calc(50% - 66px); 
}
}
@media all and (min-width: 420px){
.sm {    
  text-align: center;
  position:absolute;
  top: 950px;
  right:calc(50% - 66px); 
}}
@media all and (min-width: 500px){
.sm {    
  text-align: center;
  position:absolute;
  top: 850px;
  right:calc(50% - 66px); 
}}
@media all and (min-width: 600px) {
div.pages{
    text-align: left;
    position: absolute;
    top:5%;
    left: 2%;
    width:600px
}
div.sm{
    text-align: right;
    display:flex;
    position: absolute;
    top: 4.8%;
    right:0;
    width:120px;
    
}  
div.sm a{
  padding-left: 4%;
}
div#text{
  top:140px;
}}

@media all and (min-width: 760px){
div.sm a{
  padding-left: 15px;
}
div.pages{
    text-align: left;
    position: absolute;
    top:5%;
    left: 2%;
}
div#title{
    position:absolute;
    top:calc(20% - 8px);
    left: 5%;
    font-size: 40px;
}
div#text{
    width: 460px;
    position:absolute;
    top:20%;
    font-size:16px;
    left: calc(50% - 100px);
    text-align:left;
    }
div.sm{
  right:2%;
}
}
@media all and (min-width: 1050px){

div#text{
    width: 700px;
    position:absolute;
    top:20%;
    font-size:16px;
   left:calc(40% - 125px);
    text-align:left;
    }
