html {
 background-image: url("4.jpg"); 
 background-color:rgba(7, 7, 7, 0.852);
    background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  font-family: 'Poppins', sans-serif;
  color:white;
}
.sm {    
  text-align: center;
  position:absolute;
  top: 1300px;
  right:calc(50% - 66px);
  opacity:0.8; 
}
.sm a {
  padding-left:15px;
}
.sm a:nth-child(1) {
  padding-left: 0px;
}
.pages {
  text-align: center;
  position:relative;
  left:calc(50% - 160px);
  width:350px;

}
.pages a{
  color: white;
  padding-right: 25px;
  font-size:13px;
  text-decoration:none;
  opacity:0.8;
} 
.pages a:nth-child(2){
  text-decoration: underline;
}

.content{
    color: white;
    font-family:'Poppins', sans-serif;
}
#title{
    position:relative;
    top:90px;
    left:calc(50% - 90px);
    width:200px;
    font-size: 40px;
    margin-right: 0px;
}
#text{
    position:relative;
    top:180px;
    font-size:16px;
    width: 95%;
    text-align: center;
    left:2%;
    }
