body, html {
  height: 97%;
  width:98%;
  position: fixed;
  top: 1.5%;
  left: 1%;
  background-color:rgba(7, 7, 7, 0.852);
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.bg-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
}

.img1 { background-image: url("forest.jpg"); }

.overlay {
  background-color: blue;
  opacity: 0.8;
}

.sm {
    text-align: right;
    display:flex;
    position: absolute;
    top: 4%;
    right: 2%;
  }

.pages {
    text-align: right;
    position: absolute;
    top:5%;
    left: 2%;
   }

.pages a{
  color: white;
  padding-right: 25px;
  font-family: 'Noto Sans', sans-serif;
  font-size:13px;
  } 

.header{
    font-weight: bold;
    font-size: 20px;
    opacity:0.8;
    display: flex;
}

.content{
    color: white;
    justify-content: space-between;
    font-family:'Noto Sans', sans-serif;
}
#title{
    position:absolute;
    top:25%;
    left: 5%;
    font-size: 40px;
}
#text{
    width: 500px;
    position:absolute;
    top:25%;
    right: calc(50% - 400px);
    font-size:16px;
    }
