/*-------background image and page font styling--------*/
html {
  background-image: url("img/2.jpg"); 
  /*background-color:rgba(7, 7, 7, 0.852);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  font-family: 'Poppins', sans-serif;
  color:white;
}
/*------social media styling--------*/
.sm {    
  text-align: center;
  position:fixed;
  right:calc(50% - 160px);
  width:330px;
  top: 94%;
}
.sm a {
  padding-left:15px;
}
.sm a:nth-child(1) {
  padding-left: 0px;
}
/*------other pages styling--------*/
.pages {
  text-align: center;
  position:fixed;
  left:calc(50% - 177px);
  width:370px;
}
.pages a{
  color: white;
  padding-right: 25px;
  font-size:13px;
  text-decoration:none;
} 
.pages a:nth-child(1){
  text-decoration: underline;
}
.pages a:nth-child(6){
  padding-right: 0px;
}
/*------------content styling----------------------------*/
.content{
  top:25%;
  font-size: 25px;
  text-align: center;
  position:fixed;
  left:calc(50% - 183px);
  width:370px;

}
#name{
  font-size:60px;
}
#name, #title {
  text-align:center;
}
/*------------styling for different widths-------------------*/
@media all and (min-width: 490px) {
div.pages{
  width:95%;
  position:absolute;
  left:2.5%; 
}
div.sm{
  right:calc(50% - 165px);
}
}
@media all and (min-width: 600px) {
div.pages{
  text-align: left;
  position: absolute;
  top:5%;
  left: 2%;
}
div.sm{
  text-align: right;
  display:flex;
  position: absolute;
  top: 4.8%;
  right:2%;
  width:120px;  
}  
div.content{  
  top: calc(50% - 90px);
  left: calc(50% - 290px);
  width:600px;
}
div#name, div#title {
  text-align:left;
}
div.sm a{
  padding-left: 4%;
}
}
@media all and (min-width: 760px){
div.sm a{
  padding-left: 15px;
}
div.content{  
  top: calc(50% - 90px);
  left: calc(50% - 270px);
  width:600px;
}
}
