/*-------background image and page font styling--------*/
html {
  background-image: url("../docs/7.jpg"); 
  background-color:rgba(7, 7, 7, 0.852);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
  font-family: 'Poppins', sans-serif;
  color:white;
}
/*------social media styling--------*/
.sm {    
  text-align: center;
  position:absolute;
  top: 2700px;
  right:calc(50% - 66px);
  opacity:0.8; 
}
.sm a {
  padding-left:15px;
}
.sm a:nth-child(1) {
  padding-left: 0px;
}
/*------other pages styling--------*/
.pages {
  text-align: center;
  position:relative;
  left:calc(50% - 160px);
  width:350px;
}
.pages a{
  color: white;
  padding-right: 25px;
  font-size:13px;
  text-decoration:none;
  opacity:0.8;
} 
.pages a:nth-child(5){
  text-decoration: underline;
}
/*------------content styling----------------------------*/
.content{
    color: white;
    font-family:'Poppins', sans-serif;
}
#title{
    position:relative;
    top:90px;
    left:calc(50% - 50px);
    width:200px;
    font-size: 40px;
    margin-right: 0px;
}
#text{
    position:relative;
    top:180px;
    font-size:16px;
    width: 95%;
    text-align: center;
    left:2%;
    }
.bp.first{
  display:flex;
  flex-direction: column-reverse;
}
#text em{
    font-size:20px;
}
.subtitle{
  font-size:28px;
}
/*------------styling for different widths-------------------*/
@media all and (min-width: 420px){
.sm {    
  top: 2400px; 
}
}
@media all and (min-width: 440px){
.sm {    
  top: 2300px;
}
}
@media all and (min-width: 500px){
.sm {    
  top: 2200px; 
}
}
@media all and (min-width: 600px) {
div.pages{
  text-align: left;
  position: absolute;
  top:5%;
  left: 2%;
  width:600px
}
div.sm{
  text-align: right;
  display:flex;
  position: absolute;
  top: 4.8%;
  right:0;
  width:120px;  
}  
div.sm a{
  padding-left: 4%;
}
div#text{
  top:140px;
}
}
@media all and (min-width: 760px){
div.sm a{
  padding-left: 15px;
}
div.pages{
  text-align: left;
  position: absolute;
  top:5%;
  left: 2%;
}
div#title{
  position:absolute;
  top:calc(20% - 8px);
  left: 5%;
  font-size: 40px;
}
div#text{
  width: 460px;
  position:absolute;
  top:20%;
  font-size:16px;
  left: calc(50% - 100px);
  text-align:left;
}
div.sm{
  right:2%;
}
div.post{
  padding-bottom:20px;
}
div.subtitle{
  display:flex;
}
#text em{
  padding-left:10px;
}
}
@media all and (min-width: 1050px){
div#text{
  width: 700px;
  position:absolute;
  top:20%;
  font-size:16px;
  left:calc(40% - 125px);
  text-align:left;
}
}
@media all and (min-width: 1250px){
div#text{
  position:absolute;
  top:20%;
  font-size:16px;
  left:calc(40% - 125px);
  text-align:left;
}
div.bp.first, div.bp.second{
  width: 900px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
}
div.post.first{
  padding-right:30px;
}
div.post.second{
  padding-left:30px;
}
}
